.upload-image__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */

    max-height: 100%;

    /* border: 1px solid blue; */
}

.upload-image__drag-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* todo refatorar esquema de cores */
    border: 1px dashed #ccc;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.upload-image__drag-box:hover {
    border-color: gray;
    background-color:bisque;
}

.square {
    width: 50%;
}
  
.square:after {
    content: "Clique aqui, ou arraste as imagens.";
    display: block;
    padding-bottom: 50%;
}

.image-item{
    display: flex;
    flex-direction: row;
}

.image{
    width: 100px;
    height: 100px;
    margin: 1rem;
    border-radius: 1rem;
    object-fit: cover;
}

.image-item__btn-wrapper{
    display: flex;
    flex-direction: column;
}

.upload-image__scroll{
    display: flex;
    margin: 1rem;
    flex-direction: column;

    overflow: scroll;
    max-height: 200px;
}