table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.subcabecalho__search {
    /* width: 129%; */
    /* height: 20px; */
    /* Adiciona espaço para o ícone à direita  */
    /* padding: 8px 30px 8px 8px;  */
    /* Substitua 'seta.png' pela URL da sua imagem de seta */
    background-image: url('seta.png'); 
    background-repeat: no-repeat;
    background-position: right center;
    /* Tamanho do ícone da seta */
    /* background-size: 20px 20px;  */
    /* margin-left: 277%; */
    /* margin-bottom: 8px; */
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px; /* Adicione um espaço entre a bolinha e o texto */
}

.active-dot {
    background-color: green;
}

.inactive-dot {
    background-color: red;
}

.subcabecalho{
    /* height: 50%; */
    display: flex;
    justify-content: space-between;
    /* margin: 0%; */
}

.botoes{
    display: flex;
    flex-direction: row;
}

.btn{
    /* height: 38px;  */
    /* width: 70px;   */
    margin: 0%;

    white-space: nowrap;
}

header img{
    height: 60px;
    width: 70px;
  
}

.cab{
    display: flex;
    /* margin-bottom: 50px; */
    /* height: 70px; */
    align-items: center;
}

h1{
    margin-left: 10px;
}

.container__logo {
    padding: 1rem;
}