.form__container{
    flex-direction: row;
}

.form__upload-image{
    padding: 1rem;
    width: 300px;
    min-height: 100%;
}

@media screen and (max-width: 1024px){
    .form__container{
        flex-direction: column;
    }

    .form__upload-image{
        width: 100%;
    }
}
.form__group-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.form__button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;
}