.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.start {
    justify-content: flex-start;
    align-items: flex-start;
}

.end {
    justify-content: flex-end;
    align-items: flex-end;
}

.sidebar {
    height: 100%;
    width: 100%;
    background-color: #000;
    /* overflow-x: hidden; */
    /* padding-top: 20px; */
}


.main {
    height: 100%;
    width: 100%;
    /* padding: 0px 10px; */
}

.login-main-text {
    /* margin-top: 20%; */
    /* padding: 60px; */
    color: #fff;
}

.login-main-text h2 {
    /* font-weight: 300; */
}

.btn-black {
    /* background-color: #000 !important; */
    /* color: #fff; */
}